*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
footer{
	font-size: 20px;
	text-align: center;
	font-family: "Verdana";
}
div {
	margin: 1%;
	background-color: #808080;
	font-family: "Verdana";
	border: 2.5px solid black;
	float: left;
}
.Abc{
		font-weight: bolder;
		text-align: center;
		font-family: sans-serif;
		margin: 30px;
		font-size: 50px;
}
	
.bcd,.cde,.def {
		font-weight: bolder;
		text-align: top;
		border: 2.5px solid black;
		float: right;
		margin-top: -17px;
		margin-bottom: 10px;
		margin-right: -2px;
}
.bcd {
		background-color: #FFCC00;
}
.cde {
		background-color: #07AD62;
}
.def {
		background-color: #FFB6C1;
}
.bc,.cd,.de {
		clear: right;
		margin-left: 5%;
}

<!--/***************Large Devices only*************/-->
@media (min-width: 1200px){
#a,#b,#c{
		width:31.3%;	
}
}
<!--/***************Medium Devices only*************/-->
@media (min-width: 992px) and (max-width: 1199px){
	 #a,#b{	
	 	width:48%;
}
#c{
	width:98%;
}
}
<!--/***************Small Devices only*************/-->
@media (max-width: 991px){
	 #a,#b,#c{	
		width:98%;
}
}