*{
	box-sizing: border-box;
}
body{
	margin: 0;
}

#a,#b,#c {
	margin: 1%;
	background-color: #808080;
	font-family: "Verdana";
	border: 2.5px solid black;
	float: left;
}
nav, div.container{
	background-color: #000;
	margin:0;
	border:0;
	font-weight: bold;
	color: white;
}
button {
	color: white;
	float: right;
}
div.container{
	float: left;
	width: 50%;
    padding-right: 0;
    padding-left: 0;
}
.navbar-collapse.in {
    display: block !important;
}
.page-scroll{
			color: white;
			width: 100%;
			margin: 0;
			border: 0;
}
.Abc{
		font-weight: bolder;
		text-align: center;
		font-family: sans-serif;
		margin: 30px;
		font-size: 50px;
}
	
.bcd,.cde,.def {
		font-weight: bolder;
		text-align: top;
		border: 2.5px solid black;
		float: left;
		margin-top: -17px;
		margin-bottom: 10px;
		align-self: center;
}
.bcd {
		background-color: #FFCC00;
}
.cde {
		background-color: #07AD62;
}
.def {
		background-color: #FFB6C1;
}
.bc,.cd,.de {
		clear: right;
		clear: left;
		margin-left: 5%;
		font-size: 20px;
}
li{
	background-color: black;
	color: white;
}
img{
		clear: left;
}
.b1{
	font-weight: bolder;
	text-align: top;
	border: 2.5px solid black;
	float: left;
	margin-top: -17px;
	margin-bottom: 10px;
	align-self: center;
	background-color: #FF8800;
	color: white;
}
<!--/***************Large Devices only*************/-->
@media (min-width: 1200px){
#a,#b,#c{
		width:98%;	
		height: 98%;
}
button{
	visibility: hidden;
}
}
<!--/***************Medium Devices only*************/-->
@media (min-width: 800px) and (max-width: 1199px){
	 #a,#b{
	 margin-left: 10%;	
	 width:80%;
}
#c{
	margin-left: 10%;
	width:80%;
}
button{
	visibility: hidden;
}
}
<!--/***************Small Devices only*************/-->
@media (max-width: 799px){
	 #a,#b,#c{	
	 	margin-left: 10%;
		width:80%;
}
.b_c > img{
		margin-bottom: 10%;
		size: 5vw;
}
}

@media (max-width: 350px){
	 #a,#b,#c{	
		width:90%;

}
div {
	margin: 0;
}
.b_c > img{
	margin-bottom: 10%;
	size: 5vw;
}
}